
/* @font-face {
  font-family: "MV Faseyha";
  src: url(/assets/fonts/MVFaseyha.ttf);
}

@font-face {
  font-family: "MV Waheed";
  src: url(/assets/fonts/MVWaheed.ttf);
  font-weight: bold;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;


